@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap');

/*
  Fonts used:
  Lilita One 400
  Source Sans Pro 300 italic
  Source Sans Pro 300 
*/

.app {
  background-color: #13284a;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  font: 1em 'Source Sans Pro', sans-serif;
  overflow: auto;
}

.button-inactive {
  background-color: rgb(176, 196, 222, 30%);
  color: rgb(231, 231, 231, 30%);
  cursor: not-allowed;
}

.dimensions {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  padding: 4em;
  font: 1em 'Lilita One', sans-serif;
}

.header {
  padding: 0.5em;
  text-align: center;
  font: 2em 'Lilita One', sans-serif;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  padding-bottom: 0.5em;
}
